<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.triplemovie.pjt.user.model.UserVO" alias="UserVO"/>
		<typeAlias type="com.triplemovie.pjt.user.model.UserTicketVO" alias="UserTicketVO"/>
		<typeAlias type="com.triplemovie.pjt.movie.model.CinemaVO" alias="CinemaVO"/>
		<typeAlias type="com.triplemovie.pjt.movie.model.CmtVO" alias="CmtVO"/>
		<typeAlias type="com.triplemovie.pjt.movie.model.CmtDMI" alias="CmtDMI"/>
	</typeAliases>
</configuration>